/* YourComponent.css or in your Bootstrap classes */

/* Sticky top for Navbar */
.nanbar {
  position: sticky;
  top: 0;
  z-index: 1000; /* To place it above other elements */
}

/* Sticky bottom for Footer */
.footer {
  position: sticky;
  bottom: 0;
}
